* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}
:root {
  --Dark-blue: hsl(233, 26%, 24%);
  --Lime-green: hsl(136, 65%, 51%);
  --Bright-cyan: hsl(192, 70%, 51%);
  --Grayish-blue: hsl(233, 8%, 62%);
  --Light-grayish-blue: hsl(220, 16%, 96%);
  --Very-light-gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 18px;
}
main {
  overflow: hidden;
}

/* header */
header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: var(--White);
  z-index: 2;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: none;
}
header img {
  padding: 0.5rem 2rem;
}
header .menu-btn {
  width: 1rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: auto;
  background: url("./images/icon-hamburger.svg") center/contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
}
header #check {
  display: none;
}

/* hiding button for mobile version */
header .shadow {
  box-shadow: none;
}
header .button {
  display: none;
}
input:checked + .menu-btn {
  background: url("./images/icon-close.svg") center/contain no-repeat;
  background-size: auto;
}
input:checked ~ .navbar {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  display: flex;
  background-color: var(--White);
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
input:checked ~ .navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 6rem;
}
input:checked ~ .navbar ul li {
  margin: 0.5rem;
}
input:checked ~ .navbar ul li:first-child {
  padding-top: 1rem;
}
input:checked ~ .navbar ul li:last-child {
  padding-bottom: 1rem;
}
input:checked ~ .shadow {
  box-shadow: 0 4rem 200rem black;
}

/* next-generation */
.next-generation {
  display: flex;
  flex-direction: column;
  background-color: var(--Very-light-gray);
  text-align: center;
}
.next-generation .image {
  position: relative;
}

/* hiding image of desktop intro */
.next-generation .desktop-intro-image {
  display: none;
}
.next-generation img {
  width: 100%;
}
.next-generation .image::before {
  position: absolute;
  content: "";
  left: 3%;
  bottom: 20%;
  width: 100%;
  height: 100%;
  background: url("./images/image-mockups.png") no-repeat;
  background-size: contain;
}
.next-generation h4 {
  font-size: 2rem;
}
.next-generation .content .next-generation-para {
  font-size: 0.8rem;
  margin: 1rem 1.5rem;
  line-height: 1.4;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background: linear-gradient(
    to right,
    hsl(136, 65%, 51%) 20%,
    hsl(192, 70%, 51%)
  );
  color: var(--White);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background-color: var(--White);
  opacity: 0.5;
  display: none;
}
.button:hover::after {
  display: block;
}
.next-generation button {
  margin: 0.5rem auto 3rem auto;
}

/* why-choose */
.why-choose {
  background-color: var(--Light-grayish-blue);
}
.why-choose h5 {
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.why-choose .common {
  font-size: 0.79rem;
  text-align: center;
  line-height: 1.5;
  margin: 1rem 1.5rem;
}
.why-choose .inner-why-choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.why-choose .inner-why-choose img {
  width: 3rem;
  margin: 1rem;
}
.online-banking,
.simple-budgeting,
.fast-onboarding,
.open-api {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* latest-articles */
.latest-articles {
  background-color: var(--Very-light-gray);
}
.latest-articles h5 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 4rem;
  margin-bottom: 1.6rem;
}
.inner-latest-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.inner-latest-articles .currency,
.inner-latest-articles .restaurant,
.inner-latest-articles .plane,
.inner-latest-articles .confetti {
  width: 85%;
  background-color: var(--White);
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.x-small,
.medium,
.small {
  margin-left: 1.1rem;
}
.x-small {
  font-size: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.medium {
  font-size: 0.94rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.medium:hover {
  color: var(--Lime-green);
}
.small {
  font-size: 0.76rem;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-blue);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}
footer .icons {
  display: flex;
  justify-content: center;
}
footer .about-us,
footer .careers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .about-us li,
footer .careers li {
  list-style: none;
}
footer .about-us li a,
footer .careers li a {
  text-decoration: none;
  color: var(--White);
  cursor: pointer;
}
footer .about-us li a:hover,
footer .careers li a:hover {
  color: var(--Lime-green);
}
footer .svg {
  width: 7.5rem;
  margin: 2rem auto 0.5rem auto;
}
footer .icons svg {
  width: 1.2rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
footer .icons svg:hover path {
  fill: hsl(136, 65%, 51%);
}
footer .about-us li,
footer .careers li {
  margin: 0.3rem;
}
footer .button {
  margin-top: 1.5rem;
}
footer .copy-right {
  margin-top: 1.5rem;
  color: var(--Grayish-blue);
  padding-bottom: 2rem;
  font-size: 0.8rem;
}

/* common paragraph color */
.common-paragraph-color {
  color: var(--Grayish-blue);
}

/* Desktop view */
@media (min-width: 768px) {
  body {
    font-weight: 400;
  }

  /* Header */
  header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
  }
  header .navbar ul li a {
    cursor: pointer;
    color: var(--Grayish-blue);
    position: relative;
  }
  header .navbar ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%) 20%,
      hsl(192, 70%, 51%)
    );
    top: 170%;
    display: none;
  }
  header .navbar ul li a:hover::after {
    display: block;
  }
  header img {
    justify-self: center;
    align-self: center;
  }
  header .button {
    display: block;
    align-self: center;
    text-wrap: nowrap;
    padding: 0.5rem 1rem;
  }
  header .navbar {
    justify-self: center;
    align-self: center;
  }
  header .menu-btn {
    display: none;
  }
  header .navbar {
    display: block;
  }
  header .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  header .navbar ul li {
    margin: 1rem;
  }

  /* Next-Generation */
  .next-generation {
    flex-direction: row-reverse;
    position: relative;
  }
  .next-generation .image .mobile-intro-image {
    display: none;
  }
  .next-generation .image {
    width: 50%;
    position: relative;
  }
  .next-generation .image .desktop-intro-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 140%;
    top: -18%;
    left: 7.1875rem;
  }
  .next-generation {
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: 75% 160%;
    background-position: 200% 70%;
    background-repeat: no-repeat;
  }
  .next-generation .image::before {
    display: none;
  }
  .next-generation .content .next-generation-para {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1rem 0.9rem 1rem 0rem;
    margin-bottom: 1.2rem;
  }
  .next-generation .content h4 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
  }
  .next-generation .content {
    width: 39%;
    text-align: start;
    margin: 9rem 0rem 2rem 5rem;
  }

  /* Why-Choose */
  .why-choose .inner-why-choose {
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
  }
  .why-choose h5,
  .why-choose .common,
  .why-choose .medium-heading {
    text-align: start;
  }
  .why-choose h5,
  .why-choose .common {
    margin-left: 5rem;
  }
  .why-choose h5 {
    font-size: 2.2rem;
    width: 50%;
    padding: 5rem 0rem 1rem 0rem;
  }
  .why-choose .why-choose-heading-para {
    width: 55%;
  }
  .why-choose .common {
    font-size: 1.2rem;
    margin: 0;
  }
  .why-choose .inner-why-choose .common {
    font-size: 1rem;
  }
  .online-banking p,
  .simple-budgeting p,
  .fast-onboarding p,
  .open-api p {
    margin-left: 0;
    padding-bottom: 3rem;
  }
  .online-banking,
  .simple-budgeting,
  .fast-onboarding,
  .open-api {
    align-items: flex-start;
    width: 90%;
  }
  .online-banking .medium-heading,
  .simple-budgeting .medium-heading,
  .fast-onboarding .medium-heading,
  .open-api .medium-heading {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .why-choose .inner-why-choose img {
    margin: 0 0 1.5rem 0rem;
  }
  .why-choose .why-choose-heading-para {
    margin-left: 5rem;
    margin-bottom: 3rem;
  }

  /* latest-articles */
  .latest-articles h5 {
    font-size: 2.2rem;
    text-align: start;
    margin-left: 5rem;
  }
  .inner-latest-articles {
    flex-direction: row;
    margin-left: 4rem;
    justify-content: flex-start;
  }
  .currency img,
  .restaurant img,
  .plane img,
  .confetti img {
    margin-right: 5rem;
    height: 14rem;
  }
  .inner-latest-articles .currency,
  .inner-latest-articles .restaurant,
  .inner-latest-articles .plane,
  .inner-latest-articles .confetti {
    margin: 1rem;
    width: 20.5%;
    border-radius: 0.5rem;
  }
  .inner-latest-articles .x-small {
    font-size: 0.8rem;
  }
  .inner-latest-articles .medium {
    font-size: 1.05rem;
  }
  .inner-latest-articles .small {
    font-size: 0.83rem;
  }

  /* footer */
  footer {
    flex-direction: row;
    justify-content: flex-start;
  }
  footer .image-and-icons,
  footer .about-us,
  footer .careers,
  footer .button-and-copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  footer .image-and-icons {
    margin-left: 5rem;
    margin-bottom: 1.5rem;
  }
  footer .image-and-icons .svg {
    margin-left: 0;
    margin-bottom: 2rem;
    width: 9rem;
  }
  footer .about-us {
    margin-left: 6rem;
  }
  footer .careers {
    margin-left: 6rem;
  }
  footer .about-us li,
  footer .careers li {
    margin-bottom: 1rem;
  }
  footer .button-and-copyright .button {
    align-self: flex-end;
  }
  footer .button-and-copyright {
    margin-right: 6.5rem;
    margin-left: auto;
  }
}
